@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.ttf");
}

* {
  font-family: OpenSans;
}

.top_icon {
  stroke: white;
  vertical-align: middle;
  margin: 0 15px;
}
.item_icon {
  stroke: #2277e6;
  opacity: 0.5;
  vertical-align: middle;
}

.search_string {
  border-radius: 6px;
  padding: 0 30px 0 40px;
  height: 40px;
  border: none;
  border-color: #d9efff;
  padding-right: 2.2em;
}
.search_string:active {
  border: none;
  outline: none;
}

.search_string:focus {
  border: none;
  outline: none;
}

.search_clear {
  margin-left: -1.3em;
  cursor: pointer;
}

#fake_username,
#fake_password {
  border: none;
  width: 0;
  padding: 0;
}

html,
body,
#root,
.container {
  height: 100%;
}

/*
.selectedFolder {
  background: rgb(255, 255, 255, 0.3);
}
*/
.caret-off::after {
  display: none;
}

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-top::before {
  background-image: linear-gradient(to right, #65d9ff, #1b8dfe);
  z-index: -1;
  height: 142px;
  width: 100%;
}


td,
th {
  padding: 5px 10px;
}
th {
  text-align: center;
}

td {
  text-align: center;
}

td.email {
  text-align: right;
}

table,
th,
td {
  border: 1px solid black;
}
*/

table {
  border-collapse: collapse;
  width: 100%;
}

.iam_table_scroll_control {
  max-height: calc(100vh - 280px);
  overflow-y: visible;
  overflow-x: hidden;
}

.user_status_selector {
  cursor: pointer;
  text-decoration: underline;
}

.phub-dialog {
  box-shadow: 0 20px 50px 0px rgba(0, 90, 187, 0.5);
  border-radius: 5px;
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
  font-size: 28px;
}

.item_table {
  border: none;
  margin-top: 50px;
}
.item_table th {
  border: none;
}

.item_table th {
  /* styleName: Body-XS; */
  /*font-family: Open Sans; */
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.5;
}

.item_table td {
  border: none;
  text-align: left;
}

.item_table tr + td {
  cursor: pointer;
}

.item_table tbody tr {
  border-bottom: 1px solid #e6e6f0;
  height: 46px;
  /*  padding: 7px 0;*/
}

.item_table tbody tr:hover {
  background: #f8f8fb;
}

.item_table .rightAlign {
  text-align: right;
}

.itemIcon {
  /*stroke: #e6e6f0; */
  stroke: #808080;
  margin-right: 12px;
}

.itemModalNav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.itemModalNav svg {
  cursor: pointer;
}
.itemModalEditButton {
  display: inline-block;
  margin: 0 10px;
  border: 1px solid #00bc62;
  color: #009a50;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  padding: 8px 20px 2px 20px;
  cursor: pointer;
}

.itemModalPath {
  font-size: 14px;
  line-height: 22px;
  color: #1b1b26;
  opacity: 0.5;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.itemModalTitle {
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  padding: 0;
}

input.itemModalTitle {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dee2e6;
  height: auto;
}

input.itemModalTitle::placeholder {
  color: #babbc2;
}

input.itemModalTitle:focus {
  border-bottom: 1px solid #dee2e6;
  box-shadow: none;
}

.itemModalField {
  background: rgba(230, 230, 240, 0.3);
  border-radius: 16px;
  padding: 16px;
}

.itemModalField:hover {
  background: rgba(0, 188, 98, 0.1);
}

.itemModalField.upper {
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid white;
}

.itemModalField.lower {
  border-radius: 0 0 16px 16px;
  border-top: 1px solid white;
}

.edit > .itemModalField {
  background: white;
  border: 1px solid #e7e7ee;
}

.edit > .itemModalField:hover {
  border: 1px solid #1b1b26;
}

.itemModalField .label {
  font-size: 14px;
  opacity: 0.5;
}
.itemModalField input {
  background: transparent;
  font-size: 18px;
  border: none;
  outline: none;
  color: #1b1b26;
  width: 100%;
}
.itemModalField input:focus {
  border: none;
}
.itemModalField input:active {
  border: none;
}

.itemModalField input.lp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.totp_circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: conic-gradient(#c4c4c4 25%, #e7e7ee 0%);
  margin-right: 24px;
}

.totp_digits {
  font-size: 24px;
  color: #1b1b26;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.itemModalField.lower.weakPassword {
  background: rgba(235, 101, 0, 0.1);
}

.itemModalField .iconTitle {
  color: #00bc62;
  opacity: 0;
  margin-right: 10px;
  font-size: 14px;
  line-height: 22px;
}

.itemModalPlusField {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  /* identical to box height, or 150% */

  /* Green/70 */
  color: #009a50;
  margin-bottom: 32px;
}

.itemModalField svg {
  stroke: #1b1b26;
  opacity: 0.5;
}

.itemModalField:hover svg {
  stroke: #00bc62;
  opacity: 1;
}

.itemModalField:hover .iconTitle {
  opacity: 1;
}

.itemNoteModalField {
  background: rgba(230, 230, 240, 0.3);
  border-radius: 16px;
  border: none;
  padding: 16px;
}

.edit > .itemNoteModalField {
  background: white;
  border-radius: 16px;
  border: 1px solid #e7e7ee;
  padding: 16px;
}

.itemNoteModalField .label {
  font-size: 14px;
  opacity: 0.5;
}

.edit > .itemNoteModalField:focus-within {
  border: 1px solid #1b1b26;
  background: white;
  border-radius: 16px;
  padding: 16px;
}

.edit > .itemNoteModalField:hover {
  border: 1px solid #1b1b26;
  background: white;
  border-radius: 16px;
  padding: 16px;
}

.itemViewIcon {
  margin: 0 10px;
  opacity: 0.5;
}

.itemViewIcon:hover {
  opacity: 1;
}

.itemViewIcon svg {
  vertical-align: unset;
}

/* ---- shareModal ----*/

.roleChanger {
  display: inline-block;
  border: 1px solid #00bc62;
  color: #009a50;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 0 9px;
  text-align: center;
  cursor: pointer;
  width: 125px;
}

/* -------------------- */

.colored {
  color: #00bc62;
}

.react-contexify__item:not(.react-contexify__item--disabled):hover
  > .react-contexify__item__content,
.react-contexify__item:not(.react-contexify__item--disabled):focus
  > .react-contexify__item__content {
  color: white;
  background: rgba(27, 27, 38, 0.86);
}

.edit
  .react-contexify__item:not(.react-contexify__item--disabled):hover
  > .react-contexify__item__content,
.edit
  .react-contexify__item:not(.react-contexify__item--disabled):focus
  > .react-contexify__item__content {
  color: black;
  background: #f4f4f7;
}

/*----------------------*/

.mainRow {
  flex-grow: 1;
}

.safe_pane {
  background: rgba(27, 27, 38, 0.86);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

@media (min-width: 576px) {
  /*
  .mainRow {
    border-radius: 6px;
  }
  */
  .safe_pane {
    border-radius: 16px 0 0 16px;
  }
}

.safe_scroll_control {
  overflow-y: auto;
}

.folder {
  color: white;
  opacity: 0.5;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 0 7px 24px;
}

.folder:hover {
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
}

.folder.active_folder,
.folder.active_folder:hover {
  background: rgba(255, 255, 255, 0.15);
  opacity: 1;
}

.menu-dots {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 0;
}

.add_safe {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  color: white;
  opacity: 0.5;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 0;
  margin: 16px 20px;
  text-align: center;
  cursor: pointer;
}

.add_safe:hover {
  opacity: 1;
}

.add_button {
  background: linear-gradient(282.86deg, #00ba97 8.08%, #00bc62 68.47%);
  box-shadow: 0px 3px 7px rgba(1, 189, 98, 0.16),
    0px 4px 18px rgba(0, 255, 153, 0.5);
  border-radius: 14px;
}

.error {
  color: #b40020;
}
.green70 {
  color: #009a50;
}

.dark50 {
  color: #8d8d94;
}

.mb24 {
  margin-bottom: 24px;
}

.mb32 {
  margin-bottom: 32px;
}

/* standard bootstrap elements */

.btn-primary {
  min-width: 146px;
  padding: 12px;
  border: none;
  background: linear-gradient(264.92deg, #00ba97 4.82%, #00bc62 73.44%);
  border-radius: 12px;
  margin: 0 0 0 12px;
}

.btn-primary:hover {
  background: linear-gradient(264.92deg, #00bc62 4.82%, #00ba97 73.44%);
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:active {
  background: #1b1b26;
  opacity: 0.08;
  box-shadow: none;
}

.btn-danger {
  min-width: 146px;
  padding: 12px;
  border: none;
  /* background: linear-gradient(264.92deg, #b40020 4.82%, #eb3600 73.44%); */
  border-radius: 12px;
}

.btn-danger:focus {
  box-shadow: none;
}

.btn-danger:active {
  background: #1b1b26;
  opacity: 0.08;
  box-shadow: none;
}

.btn-outline-secondary {
  min-width: 146px;
  padding: 12px;
  margin: 0;
  color: #1b1b26;
  border: 1px solid #e7e7ee;
  box-sizing: border-box;
  border-radius: 12px;
}

.btn-outline-secondary:hover {
  color: #1b1b26;
  background: none;
  border: 1px solid #a3a4ab;
}

.btn-outline-secondary:active {
  color: #1b1b26;
  background: none;
  border: 1px solid #5f5f68;
}

.modal-dialog {
  max-width: fit-content;
}

.modal-content {
  width: 680px;
  padding: 0 72px;
}

.modal-dialog .modal-content {
  border-radius: 16px;
}

.modal-header {
  border: none;
  padding: 0;
  margin: 32px 0 0 0;
}

.modal-header h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  /* Dark/100 */
  color: #1b1b26;
}

.modal-header .close {
  padding: 0;
  margin-top: 20px;
}

.modal-body {
  padding: 0;
  margin: 32px 0;
}

.modal-footer {
  border: none;
  padding: 0;
  margin: 0 0 32px 0;
}

.modal-body .form-group {
  /* Dark */
  border: 1px solid #1b1b26;
  border-radius: 16px;
  margin: 0;
  padding: 11px 20px;
}

.modal-body .form-group label {
  opacity: 0.7;
  margin: 0;
}

.modal-body .form-group input.form-control {
  border: none;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  height: auto;
}

.modal-body .form-group input.form-control:focus {
  border: none;
  box-shadow: none;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  /* identical to box height, or 157% */

  /* Dark */
  color: #1b1b26;
  opacity: 0.5;
}

input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.notes {
  border: none;
  border-color: Transparent;
  outline: none;
}
.notes:focus {
  border: none;
  border-color: Transparent;
  outline: none;
}

.notes:active {
  border: none;
  border-color: Transparent;
  outline: none;
}

/*------*/
.download-and-view {
  box-sizing: border-box;
  border: 1px solid #e7e7ee;
  border-radius: 12px;
  margin-bottom: 74px;
}

.btn-as-span {
  color: #1b1b26;
  background: none;
  border: none;
  outline: none;
  width: 155px;
  height: 48px;
}
.btn-as-span svg {
  margin-right: 6px;
}

.edit > .view-only {
  display: none;
}

.toast {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: lightyellow;
  font-size: 1rem;
}
.toast-header {
  background: lemonchiffon;
  justify-content: space-between;
}

/* ---------------------------- */

.pmodal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.pmodal-body {
  background-color: white;
  border-radius: 12px;
  /*border: 1px solid black; */
  /* margin: 3em auto; */
  position: absolute;

  padding: 24px;
  box-shadow: 0px 4px 34px rgba(126, 126, 143, 0.28);
}

.pmodal-body.account {
  min-width: 320px;
  top: 65px;
}

.account-menu-item {
  height: 40px;
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.account-menu-item:hover {
  background: #f8f8fb;
}

.account-menu-item svg {
  margin-right: 12px;
}

/*-----------------------*/

.import-modal-file-field {
  margin-bottom: 12px;
  padding: 11px;
  position: relative;
  border: 1px solid #e7e7ee;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
}

.import-modal-file-field:hover {
  border: 1px solid #a3a4ab;
}

.addModalItem {
  height: 40px;
  cursor: pointer;
  background: rgba(27, 27, 38, 0.93);
  color: rgba(255, 255, 255, 0.7);
  line-height: 40px;
}

.addModalItem:hover {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.link {
  color: #009a50;
  text-decoration: none;
}

.link:hover {
  color: #009a50;
}

textarea {
  width: 100%;
  border: none;
}
textarea:focus {
  outline: none;
}

h2 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;

  /* Dark/100 */
  color: #1b1b26;
}

/* rc-slider */

.rc-slider-mark-text:last-child {
  transform: translateX(50%) !important ;
  right: 0% !important;
  left: auto !important;
}
.rc-slider-dot-active {
  border-color: #00bc62;
}

/*---------------*/
