.top_icon {
  stroke: white;
  vertical-align: middle;
  margin: 0 15px;
}
.item_icon {
  stroke: #2277e6;
  opacity: 0.5;
  vertical-align: middle;
}

#search_string {
  border-radius: 6px;
  padding: 0 0.75rem;
  height: 30px;
  border: none;
  border-color: #d9efff;
  padding-right: 2.2em;
}
#search_string:active {
  border: none;
  outline: none;
}

.search_clear {
  margin-left: -1.3em;
  cursor: pointer;
}

#fake_username,
#fake_password {
  border: none;
  width: 0;
  padding: 0;
}

html,
body,
#root,
.container {
  height: 100%;
}
/*
.selectedFolder {
  background: rgb(255, 255, 255, 0.3);
}
*/
.caret-off::after {
  display: none;
}

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-top::before {
  background-image: linear-gradient(to right, #65d9ff, #1b8dfe);
  z-index: -1;
  height: 142px;
  width: 100%;
}


td,
th {
  padding: 5px 10px;
}
th {
  text-align: center;
}

td {
  text-align: center;
}

td.email {
  text-align: right;
}

table,
th,
td {
  border: 1px solid black;
}
*/

table {
  border-collapse: collapse;
  width: 100%;
}

.iam_table_scroll_control {
  max-height: calc(100vh - 280px);
  overflow-y: visible;
  overflow-x: hidden;
}

.user_status_selector {
  cursor: pointer;
  text-decoration: underline;
}

.phub-dialog {
  box-shadow: 0 20px 50px 0px rgba(0, 90, 187, 0.5);
  border-radius: 5px;
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
  font-size: 28px;
}

.item_table {
  border: none;
  margin-top: 50px;
}
.item_table th {
  border: none;
}

.item_table th {
  /* styleName: Body-XS; */
  /*font-family: Open Sans; */
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.5;
}

.item_table td {
  border: none;
  text-align: left;
}

.item_table tr + td {
  cursor: pointer;
}

.item_table tbody tr {
  border-bottom: 1px solid #e6e6f0;
  padding: 7px 0;
}

.item_table .rightAlign {
  text-align: right;
}

.modal-dialog .modal-content {
  border-radius: 16px;
}

.itemModalNav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.itemModalNav svg {
  cursor: pointer;
}
.itemModalEditButton {
  display: inline-block;
  margin: 0 10px;
  border: 1px solid #00bc62;
  color: #009a50;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  padding: 8px 20px 2px 20px;
  cursor: pointer;
}

.itemModalPath {
  font-size: 14px;
  line-height: 22px;
  color: #1b1b26;
  opacity: 0.5;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.itemModalTitle {
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
}
.itemModalField {
  background: rgba(230, 230, 240, 0.3);
  border-radius: 16px;
  padding: 16px;
}

.itemModalField.upper {
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid white;
}

.itemModalField.lower {
  border-radius: 0 0 16px 16px;
  border-top: 1px solid white;
}

.itemModalField:hover {
  background: rgba(0, 188, 98, 0.1);
}

.itemModalField .label {
  font-size: 14px;
  opacity: 0.5;
}
.itemModalField .lp {
  background: transparent;
  font-size: 18px;
  font-family: "Monospace";
  border: none;
  outline: none;
  color: #1b1b26;
}
.itemModalField .lp:focus {
  border: none;
}
.itemModalField .lp:active {
  border: none;
}

.itemModalField.lower.weakPassword {
  background: rgba(235, 101, 0, 0.1);
}

.itemModalField .iconTitle {
  color: #00bc62;
  opacity: 0;
  margin-right: 10px;
  font-size: 14px;
  line-height: 22px;
}

.itemModalField:hover .iconTitle {
  opacity: 1;
}

.colored {
  color: #00bc62;
}

.modal-dialog {
  max-width: fit-content;
}
.modal-content {
  width: 680px;
  padding: 0 72px;
}

.modal-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 24px;
}

.react-contexify__item:not(.react-contexify__item--disabled):hover
  > .react-contexify__item__content,
.react-contexify__item:not(.react-contexify__item--disabled):focus
  > .react-contexify__item__content {
  color: white;
  background: rgba(27, 27, 38, 0.86);
}

/*----------------------*/
.safe_pane {
  background: rgba(27, 27, 38, 0.86);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px 0 0 16px;
  padding: 16px 0;
}
.safe_scroll_control {
  overflow-y: auto;
}

.folder {
  color: white;
  opacity: 0.5;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 0 7px 24px;
}

.active_folder {
  background: rgba(255, 255, 255, 0.15);
  opacity: 1;
}

.menu-dots {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 0;
}

.add_safe {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  color: white;
  opacity: 0.5;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 0;
  margin: 16px 20px;
  text-align: center;
}

.add_safe:hover {
  opacity: 1;
}

.add_button {
  background: linear-gradient(282.86deg, #00ba97 8.08%, #00bc62 68.47%);
  box-shadow: 0px 3px 7px rgba(1, 189, 98, 0.16),
    0px 4px 18px rgba(0, 255, 153, 0.5);
  border-radius: 14px;
}
